config.ocnice*
run_aprime_*.bash
run_aprime.*.bash
run_RHEA_*.csh
run_RHEA.*.csh
run_OLCF_*.csh
run_OLCF.*.csh
run_AIMS_*.csh
run_AIMS.*.csh
run_LLNL_*.csh
run_LLNL.*.csh
run_LANL_*.csh
run_LANL.*.csh

batch_atm.*.*.bash
batch_ocnice.*.*.bash
aprime_atm_diags.o*
aprime_atm_diags.e*
aprime_ocnice_diags.o*
aprime_ocnice_diags.e*

*~
*.nc
*.log
*.pbs
*#
*.pyc
